{{ "<!-- Upcoming Section -->" | safeHTML }}
<section id="upcoming">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">{{ with .Site.Params.upcoming.title }}{{ . | markdownify }}{{ end }}</h2>
        <h3 class="section-subheading text-muted">{{ with .Site.Params.upcoming.subtitle }}{{ . | markdownify }}{{ end }}</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
          {{ range $i, $e := .Site.Params.upcoming.events }}
	  <div align="center">
 	      <h2 class="heading">{{ .title | markdownify }}</h2>
	      <a href="{{ .link }}"><img src="{{ .img }}" /></a>
	  </div>
          {{ end }}
      </div>
    </div>
  </div>
</section>
