<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">

  {{ partial "head.html" . }}

  <body id="page-top" class="index">
    {{ partial "page-nav.html" . }}
    {{ partial "splash.html" . }}

    <section id="content">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            {{ .Content }}
          </div> <!-- /col-lg-12 -->
        </div> <!-- /row -->
      </div> <!-- /container -->
    </section>

    {{ if .Site.Params.contact.enable }}
      {{ partial "contact.html" . }}
    {{ end }}

    {{ if .Site.Params.footer.enable }}
      {{ partial "footer.html" . }}
    {{ end }}

    {{ if .Site.Params.portfolio.enable }}
      {{ partial "modals.html" . }}
    {{ end }}

    {{ partial "js.html" . }}
  </body>
</html>
